In [13]:
import pandas as pd 

df = pd.read_csv('BARIO133.xls','Sheet 1', header =14)
df

/Users/Mila/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

     Channel\tEnergy (keV)\tCounts
0                        0\t 4\t 0
1                        1\t 6\t 1
2                        2\t 8\t 8
3                     3\t 10\t 201
4                    4\t 11\t 1050
5                    5\t 13\t 9024
6                   6\t 15\t 20521
7                   7\t 17\t 26565
8                   8\t 18\t 24985
9                   9\t 20\t 21752
10                 10\t 22\t 30051
11                 11\t 24\t 44782
12                 12\t 25\t 94152
13                13\t 27\t 188805
14                14\t 29\t 352310
15                15\t 31\t 474722
16                16\t 32\t 533144
17                17\t 34\t 395484
18                18\t 36\t 275497
19                19\t 38\t 136942
20                 20\t 39\t 77590
21                 21\t 41\t 43721
22                 22\t 43\t 35958
23                 23\t 45\t 33916
24                 24\t 47\t 41770
25                 25\t 48\t 46371
26                 26\t 50\t 58875
27                 27\t 52\t 66896
28                 28\t 54\t 87927
29                29\t 56\t 112341
...                            ...
994                 994\t 1988\t 2
995                 995\t 1990\t 0
996                 996\t 1992\t 1
997                 997\t 1994\t 0
998                 998\t 1996\t 0
999                 999\t 1998\t 1
1000               1000\t 2000\t 1
1001               1001\t 2002\t 0
1002               1002\t 2004\t 2
1003               1003\t 2006\t 1
1004               1004\t 2008\t 0
1005               1005\t 2010\t 2
1006               1006\t 2012\t 3
1007               1007\t 2014\t 0
1008               1008\t 2016\t 3
1009               1009\t 2018\t 3
1010               1010\t 2020\t 3
1011               1011\t 2022\t 0
1012               1012\t 2024\t 4
1013               1013\t 2026\t 1
1014               1014\t 2028\t 3
1015               1015\t 2030\t 1
1016               1016\t 2032\t 0
1017               1017\t 2034\t 1
1018               1018\t 2036\t 2
1019               1019\t 2038\t 2
1020               1020\t 2040\t 3
1021               1021\t 2042\t 1
1022               1022\t 2044\t 1
1023               1023\t 2046\t 0

[1024 rows x 1 columns]