In [191]:
import pandas as pd 
import numpy as np

In [192]:
### Cargar datos en Dataframes

Na_spectrum = pd.read_csv('INPUT/SODIO22.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Mn_spectrum = pd.read_csv('INPUT/MAGNESIO54.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Co57_spectrum = pd.read_csv('INPUT/COBALTO57.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Co60_spectrum = pd.read_csv('INPUT/COBALTO60.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Cd_spectrum = pd.read_csv('INPUT/CADMIO109.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Ba_spectrum = pd.read_csv('INPUT/BARIO133.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Cs_spectrum = pd.read_csv('INPUT/CESIO137.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

Eu_spectrum = pd.read_csv('INPUT/EUROPIO152.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])


Fondo = pd.read_csv('INPUT/FONDO.xls','Sheet 1', delimiter =' ', header = None, 
                 skiprows = 16, names =['del','Channel','Energy','Counts'],
                 usecols = ['Channel','Counts'])

In [212]:
### Concatenar todos los espectros
df = pd.concat([Na_spectrum, Mn_spectrum, Co57_spectrum, Co60_spectrum, Cd_spectrum,
                Ba_spectrum, Cs_spectrum, Eu_spectrum, Fondo], ignore_index=True)
se = pd.Series(['Na22']*1024+['Mn54']*1024+['Co57']*1024+['Co60']*1024+['Cd109']*1024
               +['Ba133']*1024+['Cs137']*1024+['Eu152']*1024+['Fondo']*1024)
df['RN'] = se.values
#df

In [214]:
##### Cuentas totales en el espectro por nucleido
test=df.groupby(['RN'],as_index=False).sum()

#test[['RN','Counts']]
gross = pd.read_csv('crudos.csv')
#gross

#### Merge Dataframes
dt = pd.merge(gross,test[['RN','Counts']], on='RN')

In [249]:
#### Cuentas en el espectro de Fondo
cuentas_fondo = np.round((dt[dt['RN'] == 'Fondo']['Counts'] * 1000)/dt[dt['RN'] == 'Fondo']['Live_Time'],0)
#### Tasa de cuentas en el espectro de Fondo
tasa_fondo = dt[dt['RN'] == 'Fondo']['Counts']/(dt[dt['RN'] == 'Fondo']['Live_Time']/60)
#### Tasa de cuentas netas en el espectro de Fondo
tasa_fondoN = (dt[dt['RN'] == 'Fondo']['Counts']/(dt[dt['RN'] == 'Fondo']['Live_Time']/60))/(dt[dt['RN'] == 'Fondo']['Live_Time']/60)

In [250]:
#cuentas_fondo.values
#tasa_fondo.values
tasa_fondoN.values

array([ 58.01980184])

### Aplicando Poisson a datos 

* NÃºmero de cuentas : N

* Sigma de cuentas 
 $$\sigma_C = \sqrt N$$

* Cuentas netas: 

    $$N_g \text{:Gross counts}$$
    $$N_b \text{:Background counts}$$
    $$t_g \text{:Gross time}$$
    $$t_b \text{:Background time}$$
    
 $$N_s = N_g -\frac{N_b}{t_b}\cdot t_g$$

* Sigma de cuentas netas: 


 $$\sigma_s = \sqrt{N_g +\frac{N_b}{t_b}\cdot t_g}$$

* Tasa de Cuentas: t en minutos 

$$ R = \frac{N}{t}$$

* Sigma Tasa

$$ \sigma_R = \sqrt{\frac{R}{t}}$$

* Tasa Neta: t en minutos 

$$ R_s = R_g-R_b$$

* Sigma Tasa Neta

$$ \sigma_{R_s} = \sqrt{\frac{R_g}{t_g}+\frac{R_b}{t_b}}$$

In [251]:
#### Sigma de Cuentas
dt['Sigma_C']= np.sqrt(dt['Counts'])

#### Dead Time %
dt['Dead_Time'] = ((dt['Real_Time']-dt['Live_Time'])/dt['Real_Time'])*100

#### Cuentas netas
dt['Cuentas_netas'] = dt['Counts']-cuentas_fondo.values

#### Sigma de Cuentas netas
dt['Sigma_CN'] = np.sqrt((dt['Counts']+ cuentas_fondo.values))

#### Tasa de cuentas en cpm
dt['Tasa'] = dt['Counts']/(dt['Live_Time']/60)

#### Sigma Tasa 
dt['Sigma_Tasa'] = np.sqrt(dt['Tasa']/(dt['Live_Time']/60))

#### Tasa netas
dt['Tasa_netas'] = dt['Tasa']-tasa_fondo.values

#### Sigma Tasa netas
dt['Sigma_TasaN'] = np.sqrt((dt['Tasa']/(dt['Live_Time']/60))+ tasa_fondoN.values)

In [252]:
dt

,RN,Actividad_Ref,Date_Ref,Live_Time,Real_Time,Counts,Dead_Time,Cuentas_netas,Sigma_C,Sigma_CN,Tasa,Sigma_Tasa,Tasa_netas,Sigma_TasaN
0,Na22,38.26,03/01/2011,1000.00,1008.74,2864059,0.866427,2847943.0,1692.353096,1697.107834,1.718435e+05,101.541186,1.708766e+05,101.826481
1,Mn54,37.26,03/01/2011,1000.00,1000.67,223711,0.066955,207595.0,472.980972,489.721349,1.342266e+04,28.378858,1.245571e+04,29.383318
2,Co57,37.04,03/01/2011,1000.00,1000.09,31084,0.008999,14968.0,176.306551,217.255610,1.865040e+03,10.578393,8.980917e+02,13.035421
3,Co60,38.74,03/01/2011,1000.00,1019.71,6346332,1.932902,6330216.0,2519.192728,2522.389343,3.807799e+05,151.151564,3.798130e+05,151.343368
4,Cd109,37.07,03/01/2011,1000.00,1000.68,227003,0.067954,210887.0,476.448318,493.070989,1.362018e+04,28.586899,1.265323e+04,29.584297
5,Ba133,37.04,03/01/2011,1000.00,1061.05,20045630,5.753735,20029514.0,4477.234638,4479.034048,1.202738e+06,268.634078,1.201771e+06,268.742047
6,Cs137,38.37,03/01/2011,1000.00,1038.52,12697536,3.709125,12681420.0,3563.360212,3565.620844,7.618522e+05,213.801613,7.608852e+05,213.937256
7,Eu152,18.50,03/01/2007,1000.00,1025.62,8447320,2.498001,8431204.0,2906.427360,2909.198515,5.068392e+05,174.385642,5.058723e+05,174.551917
8,Fondo,NaN,NaN,999.95,1000.00,16115,0.005000,-1.0,126.944870,179.529942,9.669483e+02,7.617073,0.000000e+00,10.772168

In [218]:
dt

      RN  Actividad_Ref    Date_Ref  Live_Time  Real_Time    Counts
0   Na22          38.26  03/01/2011    1000.00    1008.74   2864059
1   Mn54          37.26  03/01/2011    1000.00    1000.67    223711
2   Co57          37.04  03/01/2011    1000.00    1000.09     31084
3   Co60          38.74  03/01/2011    1000.00    1019.71   6346332
4  Cd109          37.07  03/01/2011    1000.00    1000.68    227003
5  Ba133          37.04  03/01/2011    1000.00    1061.05  20045630
6  Cs137          38.37  03/01/2011    1000.00    1038.52  12697536
7  Eu152          18.50  03/01/2007    1000.00    1025.62   8447320
8  Fondo            NaN         NaN     999.95    1000.00     16115

In [197]:
table = df.pivot(index ='Channel',columns ='RN')
#table.columns
#table

In [ ]:
#### Graficar Espectro y fondo

### MÃ©todo A. SustracciÃ³n de espectro de fondo del espectro de la muestra

In [203]:
table[('Counts','Na22b')] =(table[('Counts', 'Na22')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Co57b')] =(table[('Counts', 'Co57')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Mn54b')] =(table[('Counts', 'Mn54')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Co60b')] =(table[('Counts', 'Co60')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Cd109b')] =(table[('Counts', 'Cd109')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Ba133b')] =(table[('Counts', 'Ba133')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Cs137b')] =(table[('Counts', 'Cs137')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))
table[('Counts','Eu152b')] =(table[('Counts', 'Eu152')]-np.round(((table[('Counts', 'Fondo')]/999.95)*1000),0))

In [211]:
#table